{% extends "app/base.html" %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.3.1/justgage.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="row clearfix">
    <div class="col-md-2 column">
        <div style="text-align: center;"><h3>Nickname</h3><br></div>
        <ul class="nav nav-pills nav-stacked">
            {% for app in apps %}
            <li class="index {% if forloop.first %} autoload active {% endif %}" Tag="{{app.Tag}}">
                <a data-toggle="tab" href="">{% if app.nickname %} {{app.nickname}} {% else %} {{app.Tag}} {% endif %}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-10 column">
        <div class="row clearfix">
            <div class="col-md-3 column">
                <div style="text-align: center;"><h3>Pet info</h3><br></div>
                <div style="text-align: center;">
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Tag</strong></td>
                                <td id="Tag_table"></td>
                            </tr>
                            <tr>
                                <td><strong>Category</strong></td>
                                <td id="Category_table"></td>
                            </tr>
                            <tr>
                                <td><strong>Weight</strong>(kg)</td>
                                <td id="Weight_table"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align: right;">
                    <button class="btn btn-primary btn-sm " data-toggle="modal" href="#myModal">More</button>
                </div>
                <div id="myModal" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4><strong>Profile</strong></h4>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">PetInfo</a></li>
                            <li class=""><a href="#tab2" data-toggle="tab" onclick="list_Schedule()">Schedule</a></li>
                            <li class=""><a href="#tab3" data-toggle="tab" onclick="list_foodType()">FoodType</a></li>
                            <li class=""><a href="#tab4" data-toggle="tab">PetInfo-Setting</a></li>
                            <li class=""><a href="#tab5" data-toggle="tab">Schedule-Setting</a></li>
                            <li class=""><a href="#tab6" data-toggle="tab">FoodType-Setting</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <table class="table">
                                    <thead></thead>
                                    <tbody>
                                        <tr>
                                            <td><strong>Nickname</strong></td>
                                            <td id="NICKNAME"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Tag</strong></td>
                                            <td id="TAG"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Category</strong></td>
                                            <td id="CATEGORY"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Statue</strong></td>
                                            <td id="STATUE"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Weight</strong>(kg)</td>
                                            <td id="WEIGHT"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Per</strong></td>
                                            <td id="PER"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>User feed Amount Setting Daily</strong>(kCal)</td>
                                            <td id="user_feed_amount_setting_daily"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>User Water Drinking Setting Daily</strong>(mL)</td>
                                            <td id="user_water_drinking_setting_daily"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Suggest Feed Amount Daily</strong>(kCal)</td>
                                            <td id="suggest_feed_amount_daily"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Suggest Water Drinking Daily</strong>(mL)</td>
                                            <td id="suggest_water_drinking_daily"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Updated at</strong></td>
                                            <td id="UPDATED_AT"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Created at</strong></td>
                                            <td id="CREATED_AT"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="tab2" class="tab-pane">
                                <form role="form" id="Schedule_form">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Time</td>
                                                <td>Food Type</td>
                                                <td>Amount</td>
                                                <td>test</td>
                                            </tr>
                                        </thead>
                                        <tbody id="Schedule_table">
                                        </tbody>
                                    </table>
                                    <input type="button" id="submit10" value="Submit" />
                                </form>
                            </div>
                            <div id="tab3" class="tab-pane">
                                <form role="form" id="FoodType_form">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                <td>kCal</td>
                                                <td>Created at</td>
                                                <td>test</td>
                                            </tr>
                                        </thead>
                                        <tbody id="FoodType_table">
                                        </tbody>
                                    </table>
                                    <input type="button" id="submit12" value="Submit" />
                                </form>
                            </div>
                            <div class="tab-pane" id="tab4">
                                <form role="form" id="form_test">
                                    <div class="form-group row-margin-top">
                                        <label for="Nickname"><strong>Nickname</strong></label>
                                        <input type="text" class="form-control" id="Nickname" placeholder="Lucky">
                                    </div>
                                    <div class="form-group">
                                        <label><strong>Category</strong></label>
                                        <select name="Category" id="Category" class="form-control" onChange="formcontroloption(this)">
                                            <option value="0" selected></option>
                                            <option value="1">Cat</option>
                                            <option value="2">Dog</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label><strong>Status</strong></label>
                                        <select name="Status" id="Status" class="form-control">
                                            <option value="0" selected></option>
                                            <optgroup id="cat1" label="Kitten">
                                                <option value="2.5">Kitten</option>
                                            </optgroup>
                                            <optgroup id="dog1" label="Puppy">
                                                <option value="3">0-4 months</option>
                                                <option value="2">4 months to adult</option>
                                            </optgroup>
                                            <optgroup id="cat2" label="Cat">
                                                <option value="1.4">Neutered</option>
                                                <option value="1.2">Intact</option>
                                                <option value="1.0">Inactive/obese prone</option>
                                                <option value="0.95">Weight loss</option>
                                            </optgroup>
                                            <optgroup id="dog2" label="Dog">
                                                <option value="1.6">Neutered</option>
                                                <option value="1.8">Intact</option>
                                                <option value="1.3">Inactive/obese prone</option>
                                                <option value="1.0">Weight loss</option>
                                                <option value="1.5">Weight gain</option>
                                                <option value="3.5">Active, working dogs</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Weight"><strong>Weight</strong>(kg)</label>
                                        <input type="number" step="0.01" class="form-control" id="Weight" placeholder="0.0(kg)">
                                    </div>
                                    <div class="form-group">
                                        <label for="User_feed_amount_setting_daily"><strong>User feed Amount Setting Daily</strong></label>
                                        <input type="number" step="0.01" class="form-control" id="User_feed_amount_setting_daily" placeholder="Set 0.0(kCal) to default">
                                    </div>
                                    <div class="form-group">
                                        <label for="User_water_drinking_setting_daily"><strong>User Water Drinking Setting Daily</strong></label>
                                        <input type="number" step="0.01" class="form-control" id="User_water_drinking_setting_daily" placeholder="Set 0.0(mL) to default ">
                                    </div>
                                    <button type="submit" id="submit21" class="btn btn-primary">Save</button>
                                </form>
                            </div>
                            <div id="tab5" class="tab-pane">
                                <div class="form-group">
                                    <form role="form" id="form1">
                                        <table class="table" id="dynamic_field1">
                                            <tr>
                                                <td><input required type="text" name="time[]" class="form-control time11 Timer0 "></td>
                                                <td><input required type="number" step="0.01" name="amount[]" id="amount0" class="form-control amount11"></td>
                                                <td><select id="select" class="form-control Select0" name="select[]"></select></td>
                                                <td><button type="button" name="add" class="btn btn-success " id="add1">Add More</button></td>
                                            </tr>
                                        </table>
                                        <input type="button" id="submit1" value="Submit" />
                                    </form>
                                </div>
                            </div>
                            <div id="tab6" class="tab-pane">
                                <div class="form-group">
                                    <form role="form" id="form2">
                                        <table class="table" id="dynamic_field2">
                                            <tr>
                                                <td><input required type="text" name="Name[]" class="form-control"></td>
                                                <td><input required type="number" step="0.01" name="kCal[]" id="amount0" class="form-control"></td>
                                                <td><button type="button" name="add" class="btn btn-success " id="add2">Add More</button></td>
                                            </tr>
                                        </table>
                                        <input type="button" id="submit2" value="Submit" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-danger" onclick="delete_data_post()">Del</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 column">
                <div style="text-align: center;"><h3>Calorie</h3><br></div>
                <div id="gauge1" style="height: 150px; text-align: center"></div><br>
            </div>
            <div class="col-md-4 column">
                <div style="text-align: center;"><h3>Water</h3><br></div>
                <div id="gauge2" style="height: 150px;text-align: center"></div>
            </div>
            <div class="clearfix hidden-xs"></div>
        </div>
    </div>
</div>

<script>
    $(function () {
        jQuery.fn.serializeObject = function () {
            var arrayData, objectData;
            arrayData = this.serializeArray();
            objectData = {};

            $.each(arrayData, function () {
                var value;

                if (this.value != null) {
                    value = this.value;
                } else {
                    value = '';
                }

                if (objectData[this.name] != null) {
                    if (!objectData[this.name].push) {
                        objectData[this.name] = [objectData[this.name]];
                    }

                    objectData[this.name].push(value);
                } else {
                    objectData[this.name] = value;
                }
            });

            return objectData;
        };
        var i = 1;
        var j = 1;
        $('#add1').click(function () {
            i++;
            $('#dynamic_field1').append('<tr id="row' + i + '"><td><input type="text" name="time[]" class="form-control time11 Timer' + i + '"></td><td><input type="number" step="0.01" name="amount[]" class="form-control amount11"></td><td><select id="select" name="select[]" class="form-control Select' + i + '"></select></td><td><button name="remove" class="btn btn-danger btn_remove" id="' + i + '">&times;</button></td></tr>')
            Flatpickr(i);
            select_FoodType(i);
        });
        $('#add2').click(function () {
            j++;
            $('#dynamic_field2').append('<tr id="row' + j + '"><td><input type="text" name="Name[]" class="form-control"></td><td><input type="number" step="0.01" name="kCal[]" class="form-control"></td><td><button name="remove" class="btn btn-danger btn_remove" id="' + j + '">&times;</button></td></tr>')
        });
        $(document).on('click', '.btn_remove', function () {
            var button_id = $(this).attr("id");
            $('#row' + button_id + '').remove();
        });
        $(document).on('click', '.btn_remove', function () {
            var button_id = $(this).attr("id");
            $('#row' + button_id + '').remove();
        });

        $('#submit1').click(function () {
            data = $("#form1").serializeObject();
            //console.log(data);
            $.ajax({
                type: "POST",
                url: "{% url 'add_Schedule' %}",
                data: data,
                success: function (response) {
                    //console.log(response);
                    alert('sucess');
                    // window.location.reload();
                },
                error: function () {
                    alert("failure");
                }
            });

        });
        $('#submit2').click(function () {
            data = $("#form2").serializeObject();
            //console.log(data);
            $.ajax({
                type: "POST",
                url: "{% url 'add_foodType' %}",
                data: data,
                success: function (response) {
                    //console.log(response);
                    alert('sucess');
                    // window.location.reload();
                },
                error: function () {
                    alert("failure");
                }
            });

        });
        $('#submit10').click(function () {
            data = $("#Schedule_form").serializeObject();
            console.log(data);
            $.ajax({
                type: "POST",
                url: "{% url 'del_Schedule' %}",
                data: data,
                success: function (response) {
                    //console.log(response);
                    alert('sucess');
                    list_Schedule();
                    // window.location.reload();
                },
                error: function () {
                    alert("failure");
                }
            });
        });
        $('#submit12').click(function () {
            data = $("#FoodType_form").serializeObject();
            console.log(data);
            $.ajax({
                type: "POST",
                url: "{% url 'del_foodType' %}",
                data: data,
                success: function (response) {
                    //console.log(response);
                    alert('sucess');
                    list_foodType();
                    // window.location.reload();
                },
                error: function () {
                    alert("failure");
                }
            });
        });

    })
    $(function () {
        function autoload() {
            Tag = $(".autoload").attr('Tag');
            var i = Tag.localeCompare("undefined") //比較兩字串:相等=0
            if (i != 0) {//取不相等時的值
                data = { 'Tag': Tag }
            }
            $.ajax({
                url: "{%url 'pet_get_id'%}",
                type: 'GET',
                data: data,
                success: function (response) {
                    //console.log(response);
                    ajax_user_data();
                    ajax_tag_Info();
                    ajax_tag_Info_TABLE();
                    list_Schedule();
                    list_foodType();
                    select_FoodType(0);
                    Flatpickr(0);
                    setTimeout(refresh, 200);
                    //refresh();
                },
                error: function () {
                    console.log('click:error!');
                }
            });
            //console.log(data);
        }

        window.onload = autoload();
        window.onload = setTimeout(refresh, 100) //第一次刷新數據

        var i;
        $(".index").click(function () { //點擊事件
            Tag = $(this).attr('Tag'),
                i = Tag.localeCompare("undefined") //比較兩字串:相等=0
            if (i != 0) {//取不相等時的值
                data = { 'Tag': Tag }
                //console.log(data);
            }
            $.ajax({
                url: "{%url 'pet_get_id'%}",
                type: 'GET',
                data: data,
                success: function (response) {
                    //console.log(response);
                    ajax_user_data();
                    ajax_tag_Info();
                    list_Schedule();
                    list_foodType();
                    ajax_tag_Info_TABLE();
                    select_FoodType(0);
                    Flatpickr(0);
                    setTimeout(refresh, 200);
                    //refresh();
                },
                error: function () {
                    console.log('click:error!');
                }
            });
        });
        $('#form_test').submit(function (e) {
            e.preventDefault();
            var Nickname = $("#Nickname").val();
            var Weight = $("#Weight").val();
            var Category = $("#Category").val();
            var Status = $("#Status").val();
            var User_feed_amount_setting_daily = $("#User_feed_amount_setting_daily").val();
            var User_water_drinking_setting_daily = $("#User_water_drinking_setting_daily").val();

            data = { 'Nickname': Nickname, 'Weight': Weight, 'Category': Category, 'Status': Status, 'User_feed_amount_setting_daily': User_feed_amount_setting_daily, 'User_water_drinking_setting_daily': User_water_drinking_setting_daily };
            //console.log(data);
            $.ajax({
                type: "POST",
                url: "{% url 'post_form' %}",
                data: data,
                success: function (response) {
                    //console.log(response);
                    alert('Update sucess');
                    window.location.reload();
                },
                error: function () {
                    alert("failure");
                }
            });
        });
        $("#cat1").hide();
        $("#cat2").hide();
        $("#dog1").hide();
        $("#dog2").hide();
    });
    function Flatpickr(i) {
        document.getElementsByClassName("Timer" + i).flatpickr({
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            time_24hr: true
        });
    }
    function ajax_tag_Info() {
        $.ajax({
            url: "{%url 'Tag_Info'%}",
            type: "GET",
            dataType: "json",
            success: function (data) {
                //console.log(data);
                $("#Tag_table").text(data[0].fields.Tag);
                if (data[0].fields.weight == 0) {
                    $("#Weight_table").text(data[0].fields.weight);
                    $("#Weight_table").addClass("text-warning");
                } else {
                    $("#Weight_table").text(data[0].fields.weight);
                    $("#Weight_table").removeClass("text-warning");
                }

                if (data[0].fields.category == 1) {
                    $("#Category_table").text("Cat");
                    $("#Category_table").removeClass("text-warning");

                } else if (data[0].fields.category == 2) {
                    $("#Category_table").text("Dog");
                    $("#Category_table").removeClass("text-warning");

                } else {
                    $("#Category_table").text("null");
                    $("#Category_table").addClass("text-warning");
                }
            },
            error: function () {
            }
        });
    }
    var max_w;
    var max_f;
    function ajax_user_data() {
        $.ajax({
            url: "{%url 'Tag_Info'%}",
            type: "GET",
            dataType: "json",
            success: function (data) {
                clear();
                if (data[0].fields.user_water_drinking_setting_daily == 0) {
                    max_w = data[0].fields.suggest_water_drinking_daily;
                } else {
                    max_w = data[0].fields.user_water_drinking_setting_daily;
                }
                if (data[0].fields.user_feed_amount_setting_daily == 0) {
                    max_f = data[0].fields.suggest_feed_amount_daily;
                } else {
                    max_f = data[0].fields.user_feed_amount_setting_daily;
                }
                debug = { 'max_w': max_w, 'max_f': max_f }
                //console.log(debug);
            },
            error: function () {
                clear();
                console.log('ajax_user_data:error!');
            }
        });
    }
    function clear() {
        max_f = 0;
        max_w = 0;
    }
    var gage1;
    var gage2;
    function refresh() {
        $.ajax({
            url: "{%url 'pet_filter_info'%}",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var len = Object.keys(data).length;
                var x = 0;
                var y = 0;
                for (var i = 0; i < len; i++) {
                    x += parseFloat(data[i].fields.food_eat);
                    y += parseFloat(data[i].fields.water_drink);
                    //console.log([x, y]);
                }
                //console.log([x, y]);
                if (!gage1) {
                    gage1 = new JustGage({
                        id: "gauge1",
                        value: 0,
                        min: 0,
                        max: 0,
                        label: "kcal",
                    });
                } else {
                    gage1.refresh(x, max_f);
                }
                if (!gage2) {
                    gage2 = new JustGage({
                        id: "gauge2",
                        value: 0,
                        min: 0,
                        max: 0,
                        label: "mL",
                    });
                } else {
                    gage2.refresh(y, max_w);
                }
            }
        });
    }
    function formcontroloption() {
        var Category = $("#Category").val();
        if (Category == "1") {
            $("#cat1").show();
            $("#cat2").show();
            $("#dog1").hide();
            $("#dog2").hide();
            //alert("test");
        }
        else if (Category == "2") {
            $("#cat1").hide();
            $("#cat2").hide();
            $("#dog1").show();
            $("#dog2").show();
        } else {
            $("#cat1").hide();
            $("#cat2").hide();
            $("#dog1").hide();
            $("#dog2").hide();

        }
    }
    function ajax_tag_Info_TABLE() {
        $.ajax({
            url: "{%url 'Tag_Info'%} ",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var d1 = new Date(data[0].fields.updated_at);
                var d2 = new Date(data[0].fields.created_at);
                //console.log(d1.toString());
                //console.log(d2.toString());
                //console.log(data);
                if (!data[0].fields.nickname) {
                    $("#NICKNAME").text(data[0].fields.nickname);
                    $("#NICKNAME").addClass("text-warning");
                } else {
                    $("#NICKNAME").text(data[0].fields.nickname);
                    $("#NICKNAME").removeClass("text-warning");
                }
                if (data[0].fields.weight == 0) {
                    $("#WEIGHT").text(data[0].fields.weight);
                    $("#WEIGHT").addClass("text-warning");
                } else {
                    $("#WEIGHT").text(data[0].fields.weight);
                    $("#WEIGHT").removeClass("text-warning");
                }

                $("#TAG").text(data[0].fields.Tag);
                $("#PER").text(data[0].fields.per);
                $("#suggest_feed_amount_daily").text(data[0].fields.suggest_feed_amount_daily);
                $("#suggest_water_drinking_daily").text(data[0].fields.suggest_water_drinking_daily);
                $("#user_water_drinking_setting_daily").text(data[0].fields.user_water_drinking_setting_daily);
                $("#user_feed_amount_setting_daily").text(data[0].fields.user_feed_amount_setting_daily);
                $("#CREATED_AT").text(d2.toString());
                $("#UPDATED_AT").text(d1.toString());

                if (data[0].fields.category == 1) {
                    $("#CATEGORY").text("Cat");
                    $("#CATEGORY").removeClass("text-warning");
                    if (data[0].fields.cat_statue == 0.95) { $("#STATUE").text("Weight loss(x0.95)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.cat_statue == 1.0) { $("#STATUE").text("Inactive/obese prone(x1.0)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.cat_statue == 1.2) { $("#STATUE").text("Intact(x1.2)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.cat_statue == 1.4) { $("#STATUE").text("Neutered(x1.4)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.cat_statue == 2.5) { $("#STATUE").text("Kitten(x2.5)"); $("#STATUE").removeClass("text-warning"); }
                    else { $("#STATUE").text("null"); $("#STATUE").addClass("text-warning"); }
                } else if (data[0].fields.category == 2) {
                    $("#CATEGORY").text("Dog");
                    $("#CATEGORY").removeClass("text-warning");
                    if (data[0].fields.dog_statue == 1.0) { $("#STATUE").text("Weight loss(x1.0)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 1.3) { $("#STATUE").text("Inactive/obese prone(x1.3)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 1.5) { $("#STATUE").text("Weight gain(x1.5)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 1.6) { $("#STATUE").text("Neutered(x1.6)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 1.8) { $("#STATUE").text("Intact(x1.8)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 2) { $("#STATUE").text("4 months to adult(x2)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 3) { $("#").text("0-4 months(x3)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 3.50) { $("#STATUE").text("Active, working dogs(x3.5)"); $("#STATUE").removeClass("text-warning"); }
                    else { $("#STATUE").text("null"); $("#STATUE").removeClass("text-warning"); $("#STATUE").addClass("text-warning"); }
                } else {
                    $("#CATEGORY").text("null");
                    $("#STATUE").text("null");
                    $("#CATEGORY").addClass("text-warning");
                    $("#STATUE").addClass("text-warning");
                }

            },
            error: function () {
            }
        });
    }
    function delete_data_post() {
        data = { "Delete": "confrim" };
        if (confirm("Are You Sure?")) {
            $.ajax({
                type: "POST",
                url: "{% url 'del_data' %}",
                data: data,
                success: function (response) {
                    //console.log(response);
                    window.location.reload();
                },
                error: function () {
                    alert("failure");
                }
            });
        }
    }
    function list_Schedule() {
        $.ajax({
            url: "{%url 'list_Schedule'%} ",
            type: "GET",
            dataType: "json",
            success: function (data) {
                //console.log(data);
                $('#Schedule_table').html('');
                if (data != "") {
                    //console.log(data);
                    $.each(data, function (i, item) {
                        //alert(item.fields.schedule_time);
                        data1 = search_foodName("pk", item.fields.food_Name);
                        //console.log(item.fields.food_Name);
                        data1 = $.parseJSON(data1);
                        //console.log(data1);
                        //console.log(data1[0].fields.kCal);
                        $('<tr>').append(
                            $('<td>').text(item.fields.schedule_time),
                            $('<td>').text(data1[0].fields.Name),
                            $('<td>').text(item.fields.food_amount),
                            $('<td>').append('<input type="checkbox" name="checkbax1[]" value=' + item.fields.schedule_time + '>')).appendTo("#Schedule_table");
                    })
                }
            },
            error: function () {
            }
        });
    }
    function list_foodType() {
        $.ajax({
            url: "{%url 'list_foodType'%} ",
            type: "GET",
            dataType: "json",
            success: function (data) {
                //console.log(data);
                $('#FoodType_table').html('');
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('<tr>').append(
                            $('<td>').text(item.fields.Name),
                            $('<td>').text(item.fields.kCal),
                            $('<td>').text(item.fields.created_at),
                            $('<td>').append('<input type="checkbox" name="checkbax2[]" value=' + item.fields.Name + '>')).appendTo('#FoodType_table');
                    })
                }
            },
            error: function () {
            }
        });
    }
    function select_FoodType(j) {
        //alert("active");
        $.ajax({
            url: "{%url 'list_foodType'%} ",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $('.select' + j).html('');
                //console.log(data);
                if (data != "") {
                    $(".select" + j).append($("<option></option>").attr("value", "").text(""));
                    $.each(data, function (i, item) {
                        $(".select" + j).append($("<option></option>").attr("value", item.fields.Name).text(item.fields.Name));
                    })
                }
            },
            error: function () {
            }
        });
    }
    function search_foodName(x, y) {
        data = { 'object': x, 'value': y };
        var temp
        //console.log(data);
        $.ajax({
            type: "POST",
            url: "{% url 'search_foodName' %}",
            data: data,
            async: false,
            success: function (response) {
                temp = response;
                //console.log(temp);
            },
            error: function () {
            }
        });
        //console.log(temp);
        return temp;
    }
</script>
{% endblock %}