{% extends "app/base.html" %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.3.1/justgage.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<div class="row clearfix">
    <div id="alert"></div>
    <div class="col-md-2 column">
        <div style="text-align: center;"><h3>Nickname</h3><br></div>
        <ul class="nav nav-pills nav-stacked">
            {% for app in apps %}
            <li class="index {% if forloop.first %} autoload active {% endif %}" Tag="{{app.Tag}}">
                <a data-toggle="tab" href="">{% if app.nickname %} {{app.nickname}} {% else %} {{app.Tag}} {% endif %}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-10 column">
        <div class="row clearfix">
            <div class="col-md-3 column">
                <div style="text-align: center;"><h3>Pet info</h3><br></div>
                <div style="text-align: center;">
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Tag</strong></td>
                                <td id="Tag_table"></td>
                            </tr>
                            <tr>
                                <td><strong>Category</strong></td>
                                <td id="Category_table"></td>
                            </tr>
                            <tr>
                                <td><strong>Weight</strong>(kg)</td>
                                <td id="Weight_table"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="text-align: right;">
                    <button class="btn btn-primary btn-sm " data-toggle="modal" href="#myModal">More</button>
                </div>
                <div id="myModal" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4><strong>Profile</strong></h4>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">PetInfo</a></li>
                            <li class=""><a href="#tab2" data-toggle="tab" onclick="list_Schedule()">Schedule</a></li>
                            <li class=""><a href="#tab3" data-toggle="tab" onclick="list_foodType()">FoodType</a></li>
                            <li class=""><a href="#tab4" data-toggle="tab">PetInfo-Setting</a></li>
                            <li class=""><a href="#tab5" data-toggle="tab">Schedule-Setting</a></li>
                            <li class=""><a href="#tab6" data-toggle="tab">FoodType-Setting</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <table class="table table-hover">
                                    <thead></thead>
                                    <tbody>
                                        <tr>
                                            <td><strong>Nickname</strong></td>
                                            <td id="NICKNAME"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Tag</strong></td>
                                            <td id="TAG"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Category</strong></td>
                                            <td id="CATEGORY"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Statue</strong></td>
                                            <td id="STATUE"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Weight</strong>(kg)</td>
                                            <td id="WEIGHT"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Per</strong></td>
                                            <td id="PER"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>User feed Amount Setting Daily</strong>(kCal)</td>
                                            <td id="user_feed_amount_setting_daily"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>User Water Drinking Setting Daily</strong>(mL)</td>
                                            <td id="user_water_drinking_setting_daily"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Suggest Feed Amount Daily</strong>(kCal)</td>
                                            <td id="suggest_feed_amount_daily"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Suggest Water Drinking Daily</strong>(mL)</td>
                                            <td id="suggest_water_drinking_daily"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Updated at</strong></td>
                                            <td id="UPDATED_AT"></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Created at</strong></td>
                                            <td id="CREATED_AT"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="tab2" class="tab-pane">
                                <form role="form" id="Schedule_form">
                                    <table class="table table-hover	">
                                        <thead>
                                            <tr>
                                                <td>Del</td>
                                                <td>Time</td>
                                                <td>Food Type</td>
                                                <td>Amount</td>
                                                <td>kCal</td>
                                            </tr>
                                        </thead>
                                        <tbody id="Schedule_table">
                                        </tbody>
                                    </table>
                                    <button style="margin-left:8px" type="button" id="submit10" class="btn btn-primary btn-xs">Submit</button>
                                    <label style="position:absolute;right:60px;" id="total_kcal"></label>
                                </form>
                            </div>
                            <div id="tab3" class="tab-pane">
                                <form role="form" id="FoodType_form">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <td>Del</td>
                                                <td>Name</td>
                                                <td>kCal(per 100g)</td>
                                                <td>Created at</td>
                                            </tr>
                                        </thead>
                                        <tbody id="FoodType_table">
                                        </tbody>
                                    </table>
                                    <button style="margin-left:8px" type="button" id="submit12" class="btn btn-primary btn-xs">Submit</button>
                                </form>
                            </div>
                            <div class="tab-pane" id="tab4">
                                <form role="form" id="form_test">
                                    <div class="form-group1 row-margin-top">
                                        <label for="Nickname"><strong>Nickname</strong></label>
                                        <input type="text" class="form-control" id="Nickname" placeholder="Lucky">
                                    </div>
                                    <div class="form-group1">
                                        <label><strong>Category</strong></label>
                                        <select name="Category" id="Category" class="form-control" onChange="formcontroloption(this)">
                                            <option value="0" selected></option>
                                            <option value="1">Cat</option>
                                            <option value="2">Dog</option>
                                        </select>
                                    </div>
                                    <div class="form-group1">
                                        <label><strong>Status</strong></label>
                                        <select name="Status" id="Status" class="form-control">
                                            <option value="0" selected></option>
                                            <optgroup id="cat1" label="Kitten">
                                                <option value="2.5">Kitten</option>
                                            </optgroup>
                                            <optgroup id="dog1" label="Puppy">
                                                <option value="3">0-4 months</option>
                                                <option value="2">4 months to adult</option>
                                            </optgroup>
                                            <optgroup id="cat2" label="Cat">
                                                <option value="1.4">Neutered</option>
                                                <option value="1.2">Intact</option>
                                                <option value="1.0">Inactive/obese prone</option>
                                                <option value="0.95">Weight loss</option>
                                            </optgroup>
                                            <optgroup id="dog2" label="Dog">
                                                <option value="1.6">Neutered</option>
                                                <option value="1.8">Intact</option>
                                                <option value="1.3">Inactive/obese prone</option>
                                                <option value="1.0">Weight loss</option>
                                                <option value="1.5">Weight gain</option>
                                                <option value="3.5">Active, working dogs</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group1">
                                        <label for="Weight"><strong>Weight</strong>(kg)</label>
                                        <input type="number" step="0.01" class="form-control" id="Weight" placeholder="0.0(kg)">
                                    </div>
                                    <div class="form-group1">
                                        <label for="User_feed_amount_setting_daily"><strong>User feed Amount Setting Daily</strong></label>
                                        <input type="number" step="0.01" class="form-control" id="User_feed_amount_setting_daily" placeholder="Set 0.0(kCal) to default">
                                    </div>
                                    <div class="form-group1">
                                        <label for="User_water_drinking_setting_daily"><strong>User Water Drinking Setting Daily</strong></label>
                                        <input type="number" step="0.01" class="form-control" id="User_water_drinking_setting_daily" placeholder="Set 0.0(mL) to default ">
                                    </div>
                                    <div class="form-group1">
                                        <button type="button" id="submit211" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <div id="tab5" class="tab-pane">
                                <div class="form-group">
                                    <form role="form" id="form1">
                                        <table class="table" id="dynamic_field1">
                                            <thead>
                                                <tr>
                                                    <td>Time</td>
                                                    <td>Amount(g)</td>
                                                    <td>FoodType</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td><input required type="text" name="time[]" class="form-control time11 Timer0 "></td>
                                                <td><input required type="number" step="0.01" name="amount[]" id="amount0" class="form-control amount11"></td>
                                                <td><select id="select" class="form-control Select0" name="select[]"></select></td>
                                                <td><button type="button" name="add" class="btn btn-success " id="add1">Add More</button></td>
                                            </tr>
                                        </table>
                                        <button style="margin-left:8px" type="button" id="submit1" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                            <div id="tab6" class="tab-pane">
                                <div class="form-group">
                                    <form role="form" id="form2">
                                        <table class="table" id="dynamic_field2">
                                            <thead>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>kCal(per 100g)</td>
                                                    <td></td>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td><input required type="text" name="Name[]" class="form-control"></td>
                                                <td><input required type="number" step="0.01" name="kCal[]" id="amount0" class="form-control"></td>
                                                <td><button type="button" name="add" class="btn btn-success " id="add2">Add More</button></td>
                                            </tr>
                                        </table>
                                        <button style="margin-left:8px" type="button" id="submit2" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-danger" onclick="delete_data_post()">Del</button>
                        <button type="button" data-dismiss="modal" class="btn btn-default" onclick="window.location.reload()">Close</button>
                    </div>
                </div>
            </div>
            <div class="col-md-9 colum">
                <br />
                <div class="tabbable" id="tabs-395808">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-849527" data-toggle="tab">Today</a>
                        </li>
                        <li>
                            <a href="#panel-427201" data-toggle="tab">History</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-849527">
                            <div class="col-md-6 column">
                                <div style="text-align: center;"><h3>Calorie</h3><br></div>
                                <div id="gauge1" style="height: 150px; text-align: center"></div><br>
                            </div>
                            <div class="col-md-6 column">
                                <div style="text-align: center;"><h3>Water</h3><br></div>
                                <div id="gauge2" style="height: 150px;text-align: center"></div>
                            </div>
                            <br />
                            <br />
                            <p id="ago" class="pull-right" style="margin-right: 60px;margin-top: 10px;"></p>
                        </div>
                        <div class="tab-pane" id="panel-427201">
                            <br>
                            <div id="container1" style="min-width: 700px; height: 300px; margin: 0 auto"></div>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default date_search" offset="1">1 hours</button>
                                <button type="button" class="btn btn-default date_search" offset="6">6 hours</button>
                                <button type="button" class="btn btn-default date_search" offset="12">12 hours</button>
                                <button type="button" class="btn btn-default date_search" offset="24">24 hours</button>
                                <div class="btn-group" style="margin-left:-1px;">
                                    <div class="dropdown pull-right">
                                        <button type="button" style="border-radius:0;border-bottom-right-radius: 4px;border-top-right-radius: 4px;" class="btn btn-default dropdown-toggle" id="dropdownMenu1">More<span class="caret"></span></button>
                                        <div class="dropdown-menu" style="width:305px;padding-right: 5px;padding-left: 5px;" role="menu" aria-labelledby="dropdownMenu1">
                                            <form class="form-inline" role="form" style="margin-bottom: 0px;" id="form4122">
                                                <div class="form-group" style="width:100px;">
                                                    <input type="text" class="form-control" id="Date1" placeholder="">
                                                </div>
                                                <h>~</h>
                                                <div class="form-group" style="width:100px;">
                                                    <input type="text" class="form-control" id="Date2" placeholder="">
                                                </div>
                                                <button type="button" id="submit5151" class="btn btn-default">Search</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        jQuery.fn.serializeObject = function () {
            var arrayData, objectData;
            arrayData = this.serializeArray();
            objectData = {};
            $.each(arrayData, function () {
                var value;

                if (this.value != null) {
                    value = this.value;
                } else {
                    value = '';
                }

                if (objectData[this.name] != null) {
                    if (!objectData[this.name].push) {
                        objectData[this.name] = [objectData[this.name]];
                    }

                    objectData[this.name].push(value);
                } else {
                    objectData[this.name] = value;
                }
            });

            return objectData;
        };
        var i = 1, j = 1;
        $('#add1').click(function () {
            i++;
            $('#dynamic_field1').append('<tr id="row' + i + '"><td><input type="text" name="time[]" class="form-control time11 Timer' + i + '"></td><td><input type="number" step="0.01" name="amount[]" class="form-control amount11"></td><td><select id="select" name="select[]" class="form-control Select' + i + '"></select></td><td><button name="remove" class="btn btn-danger btn_remove" id="' + i + '">&times;</button></td></tr>')
            Flatpickr(i);
            select_FoodType(i);
        });
        function refresh_select_FoodType(i) {
            for (var k = 0; k <= i; k++) {
                select_FoodType(k);
                //console.log(i);
            }
        }
        $('#add2').click(function () {
            j++;
            $('#dynamic_field2').append('<tr id="row' + j + '"><td><input type="text" name="Name[]" class="form-control"></td><td><input type="number" step="0.01" name="kCal[]" class="form-control"></td><td><button name="remove" class="btn btn-danger btn_remove" id="' + j + '">&times;</button></td></tr>')
        });
        $(document).on('click', '.btn_remove', function () {
            var button_id = $(this).attr("id");
            $('#row' + button_id + '').remove();
        });
        $(document).on('click', '.btn_remove', function () {
            var button_id = $(this).attr("id");
            $('#row' + button_id + '').remove();
        });
        $('#submit1').click(function () {
            data = $("#form1").serializeObject();
            //console.log(data);
            $.ajax({
                type: "POST",
                url: "{% url 'add_Schedule' %}",
                data: data,
                success: function (response) {
                    //console.log(response);
                    alert('Update sucess');
                    $("#form1")[0].reset();
                    // window.location.reload();
                },
                error: function () {
                    alert("failure");
                }
            });

        });
        $('#submit2').click(function () {
            data = $("#form2").serializeObject();
            //console.log(data);
            $.ajax({
                type: "POST",
                url: "{% url 'add_foodType' %}",
                data: data,
                success: function (response) {
                    refresh_select_FoodType(i);
                    //console.log(response);
                    alert('Update sucess');
                    $("#form2")[0].reset();
                    // window.location.reload();
                },
                error: function () {
                    //alert("failure");
                }
            });

        });
        $('#submit10').click(function () {
            data = $("#Schedule_form").serializeObject();
            //console.log(data);
            if (confirm("Are You Sure?")) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'del_Schedule' %}",
                    data: data,
                    success: function (response) {
                        //console.log(response);
                        alert('Update sucess');
                        list_Schedule();
                        $("#Schedule_form")[0].reset();
                        // window.location.reload();
                    },
                    error: function () {
                        //alert("failure");
                    }
                });
            }
        });
        $('#submit12').click(function () {
            data = $("#FoodType_form").serializeObject();
            //console.log(data);
            if (confirm("Are You Sure?")) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'del_foodType' %}",
                    data: data,
                    success: function (response) {
                        //console.log(response);
                        //alert('sucess');
                        list_foodType();
                        refresh_select_FoodType(i);
                        $("#FoodType_form")[0].reset();
                        //console.log(i);
                        // window.location.reload();
                    },
                    error: function () {
                        //alert("failure");
                    }
                });
            }
        });
    })
    $(function () {
        window.onload = autoload();
        $(".index").click(function () { //點擊事件
            Tag = $(this).attr('Tag');
            if (Tag) {//取不相等時的值
                data = { 'Tag': Tag }
                //console.log(data);
            }
            $.ajax({
                url: "{%url 'pet_get_id'%}",
                type: 'GET',
                data: data,
                success: function (response) {
                    //console.log(response);
                    ajax_user_data();
                    ajax_tag_Info();
                    list_Schedule();
                    list_foodType();
                    ajax_tag_Info_TABLE();
                    select_FoodType(0);
                    requestData()
                    Datesearch()
                    Flatpickr(0);
                    alert1();
                    setTimeout(refresh, 200);
                    //refresh();
                },
                error: function () {
                    console.log('click:error!');
                }
            });
        });
        function autoload() {
            Tag = $(".autoload").attr('Tag');
            if (Tag) {//取不相等時的值
                data = { 'Tag': Tag }
            }
            $.ajax({
                url: "{%url 'pet_get_id'%}",
                type: 'GET',
                data: data,
                success: function (response) {
                    //console.log(response);
                    ajax_user_data();
                    ajax_tag_Info();
                    ajax_tag_Info_TABLE();
                    list_Schedule();
                    list_foodType();
                    select_FoodType(0);
                    Flatpickr(0);
                    alert1();
                    $.post("{% url 'pet_filter_chart_search' %}", { 'type': 'offset', 'offset': "1" });
                    requestData();
                    Datesearch();
                    refresh();
                    setTimeout(refresh, 10);
                    //refresh();
                },
                error: function () {
                    console.log('click:error!');
                }
            });
            //console.log(data);
        }
        $('#dropdownMenu1').on('click', function (event) {
            $(this).parent().toggleClass('open');
        });
        $('.date_search').on('click', function (event) {
            $('#dropdownMenu1').parent().removeClass('open');
        });
        $('#submit5151,.date_search').click(function () {
            var Date1 = new Date($("#Date1").val());
            var Date2 = new Date($("#Date2").val());
            var offset = $(this).attr('offset');
            if (Date1 > Date2) {
                alert("Time error : End time is earlier than begin time");
                //console.log("Time error : End time is earlier or similar than begin time");
            } else {
                if (Date1.getTime() === Date2.getTime()) {
                    Date2.setDate(Date2.getDate() + 1);
                }
                Date1 = Date1.toJSON();
                Date2 = Date2.toJSON();
                if (offset) {//取不相等時的值
                    data = { 'type': 'offset', 'offset': offset }
                } else {
                    data = { 'type': 'date', 'date1': Date1, 'date2': Date2 }
                }
                //console.log(data);
                $.ajax({
                    type: "POST",
                    url: "{% url 'pet_filter_chart_search' %}",
                    data: data,
                    success: function (response) {
                        requestData()
                        //console.log(response);
                        //alert('Update sucess');
                        // window.location.reload();
                    },
                    error: function () {
                        //alert("failure");
                    }
                });
            }

        });
        $('#submit211').click(function () {
            //e.preventDefault();
            var Nickname = $("#Nickname").val();
            var Weight = $("#Weight").val();
            var Category = $("#Category").val();
            var Status = $("#Status").val();
            var User_feed_amount_setting_daily = $("#User_feed_amount_setting_daily").val();
            var User_water_drinking_setting_daily = $("#User_water_drinking_setting_daily").val();

            data = { 'Nickname': Nickname, 'Weight': Weight, 'Category': Category, 'Status': Status, 'User_feed_amount_setting_daily': User_feed_amount_setting_daily, 'User_water_drinking_setting_daily': User_water_drinking_setting_daily };
            //console.log(data);
            $.ajax({
                type: "POST",
                url: "{% url 'post_form' %}",
                data: data,
                success: function (response) {
                    //console.log(response);
                    alert('Update sucess');
                    refresh_tag_Info();
                    //window.location.reload();
                },
                error: function () {
                    alert("failure");
                }
            });
        });
        $("#cat1").hide();
        $("#cat2").hide();
        $("#dog1").hide();
        $("#dog2").hide();
        $(".close_alert").click(function () {
            $("#myAlert").alert('close');
        });
        var chart1 = Highcharts.chart('container1', {
            chart: {
                type: 'line',
                zoomType: 'x',
                panning: true,
                panKey: 'shift'
            },
            subtitle: {
                text: 'Click and drag to zoom in. Hold down shift key to pan.'
            },
            credits: {
                enabled: false // remove high chart logo hyper-link
            },
            title: {
                text: null
            },
            xAxis: {
                title: { text: 'datetime' },
                type: 'datetime',
                labels: {
                    format: '{value:%m-%d %H:%M}',
                }
            },
            yAxis: {
                title: {
                    text: 'Value'
                },
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            exporting: {
                enabled: false
            },
            legend: {
                layout: 'vertical',
                floating: 'false',
                align: 'right',
                verticalAlign: 'top',
                x: "",
                y: "",
                borderWidth: 0
            },
            plotOptions: {
                series: {
                    events: {
                        legendItemClick: function (e) {
                            return false; // 禁用點擊隱藏數據列
                        }
                    }
                }
            }, series: [{
                name: "Water Drink",
                data: [],
                showInLegend: true, tooltip: {
                    valueSuffix: 'ml'
                }
            }, {
                name: "Food Eat",
                data: [],
                showInLegend: true, tooltip: {
                    valueSuffix: 'g'
                }

            }
            ]
        });
        function requestData() {
            $.ajax({
                url: "{% url 'pet_filter_chart' %}",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var len = Object.keys(data).length;
                    var seriesData1 = [];
                    var seriesData2 = [];
                    for (var j = 0; j < len; j++) {
                        var time = new Date(data[j].fields.updated_at).getTime();
                        var water_drink = data[j].fields.water_drink;
                        var food_eat = data[j].fields.food_eat;
                        time = parseFloat(time)
                        water_drink = parseFloat(water_drink)
                        food_eat = parseFloat(food_eat)
                        seriesData1.push([time, water_drink]);
                        seriesData2.push([time, food_eat]);
                    }
                    chart1.series[0].setData(seriesData1);
                    chart1.series[1].setData(seriesData2);
                },
            });
        }
    });
    function Flatpickr(i) {
        document.getElementsByClassName("Timer" + i).flatpickr({
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            time_24hr: true
        });
    }
    function refresh_tag_Info() {
        ajax_tag_Info();
        ajax_tag_Info_TABLE();
        ajax_user_data();
        refresh();
        setTimeout(refresh, 200);
    }
    function ajax_tag_Info() {
        $.ajax({
            url: "{%url 'Tag_Info'%}",
            type: "GET",
            dataType: "json",
            success: function (data) {
                //console.log(data);
                $("#Tag_table").text(data[0].fields.Tag);
                if (data[0].fields.weight == 0) {
                    $("#Weight_table").text(data[0].fields.weight);
                    $("#Weight_table").addClass("text-warning");
                } else {
                    $("#Weight_table").text(data[0].fields.weight);
                    $("#Weight_table").removeClass("text-warning");
                }

                if (data[0].fields.category == 1) {
                    $("#Category_table").text("Cat");
                    $("#Category_table").removeClass("text-warning");

                } else if (data[0].fields.category == 2) {
                    $("#Category_table").text("Dog");
                    $("#Category_table").removeClass("text-warning");

                } else {
                    $("#Category_table").text("null");
                    $("#Category_table").addClass("text-warning");
                }
            },
            error: function () {
            }
        });
    }
    var max_f, max_w;
    function ajax_user_data() {
        $.ajax({
            url: "{%url 'Tag_Info'%}",
            type: "GET",
            dataType: "json",
            success: function (data) {
                clear();
                if (data[0].fields.user_water_drinking_setting_daily == 0) {
                    max_w = data[0].fields.suggest_water_drinking_daily;
                } else {
                    max_w = data[0].fields.user_water_drinking_setting_daily;
                }
                if (data[0].fields.user_feed_amount_setting_daily == 0) {
                    max_f = data[0].fields.suggest_feed_amount_daily;
                } else {
                    max_f = data[0].fields.user_feed_amount_setting_daily;
                }
                debug = { 'max_w': max_w, 'max_f': max_f }
                //console.log(debug);
            },
            error: function () {
                clear();
                console.log('ajax_user_data:error!');
            }
        });
    }
    function clear() {
        max_f = 0;
        max_w = 0;
    }
    var gage1, gage2;
    function refresh() {
        $.ajax({
            url: "{%url 'pet_filter_info'%}",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var len = Object.keys(data).length;
                var x = 0;
                var y = 0;
                for (var i = 0; i < len; i++) {
                    x += parseFloat(data[i].fields.food_eat);
                    y += parseFloat(data[i].fields.water_drink);
                    //console.log([x, y]);
                }
                //console.log([x, y]);
                if (!gage1 && !gage2) {
                    gage1 = new JustGage({
                        id: "gauge1",
                        value: 0,
                        min: 0,
                        max: 0,
                        label: "kcal",
                    });
                    gage2 = new JustGage({
                        id: "gauge2",
                        value: 0,
                        min: 0,
                        max: 0,
                        label: "mL",
                    });
                } else {
                    gage1.refresh(x, max_f);
                    gage2.refresh(y, max_w);
                }
            }
        });
    }
    function formcontroloption() {
        var Category = $("#Category").val();
        if (Category == "1") {
            $("#cat1").show();
            $("#cat2").show();
            $("#dog1").hide();
            $("#dog2").hide();
            //alert("test");
        }
        else if (Category == "2") {
            $("#cat1").hide();
            $("#cat2").hide();
            $("#dog1").show();
            $("#dog2").show();
        } else {
            $("#cat1").hide();
            $("#cat2").hide();
            $("#dog1").hide();
            $("#dog2").hide();

        }
    }
    function ajax_tag_Info_TABLE() {
        $.ajax({
            url: "{%url 'Tag_Info'%} ",
            type: "GET",
            dataType: "json",
            success: function (data) {
                var d1 = new Date(data[0].fields.updated_at);
                var d2 = new Date(data[0].fields.created_at);
                //console.log(d1.toString());
                //console.log(d2.toString());
                //console.log(data);
                if (!data[0].fields.nickname) {
                    $("#NICKNAME").text(data[0].fields.nickname);
                    $("#NICKNAME").addClass("text-warning");
                } else {
                    $("#NICKNAME").text(data[0].fields.nickname);
                    $("#NICKNAME").removeClass("text-warning");
                }
                if (data[0].fields.weight == 0) {
                    $("#WEIGHT").text(data[0].fields.weight);
                    $("#WEIGHT").addClass("text-warning");
                } else {
                    $("#WEIGHT").text(data[0].fields.weight);
                    $("#WEIGHT").removeClass("text-warning");
                }

                $("#TAG").text(data[0].fields.Tag);
                $("#PER").text(data[0].fields.per);
                $("#suggest_feed_amount_daily").text(data[0].fields.suggest_feed_amount_daily);
                $("#suggest_water_drinking_daily").text(data[0].fields.suggest_water_drinking_daily);
                $("#user_water_drinking_setting_daily").text(data[0].fields.user_water_drinking_setting_daily);
                $("#user_feed_amount_setting_daily").text(data[0].fields.user_feed_amount_setting_daily);
                $("#CREATED_AT").text(d2.toString());
                $("#UPDATED_AT").text(d1.toString());

                if (data[0].fields.category == 1) {
                    $("#CATEGORY").text("Cat");
                    $("#CATEGORY").removeClass("text-warning");
                    if (data[0].fields.cat_statue == 0.95) { $("#STATUE").text("Weight loss(x0.95)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.cat_statue == 1.0) { $("#STATUE").text("Inactive/obese prone(x1.0)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.cat_statue == 1.2) { $("#STATUE").text("Intact(x1.2)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.cat_statue == 1.4) { $("#STATUE").text("Neutered(x1.4)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.cat_statue == 2.5) { $("#STATUE").text("Kitten(x2.5)"); $("#STATUE").removeClass("text-warning"); }
                    else { $("#STATUE").text("null"); $("#STATUE").addClass("text-warning"); }
                } else if (data[0].fields.category == 2) {
                    $("#CATEGORY").text("Dog");
                    $("#CATEGORY").removeClass("text-warning");
                    if (data[0].fields.dog_statue == 1.0) { $("#STATUE").text("Weight loss(x1.0)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 1.3) { $("#STATUE").text("Inactive/obese prone(x1.3)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 1.5) { $("#STATUE").text("Weight gain(x1.5)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 1.6) { $("#STATUE").text("Neutered(x1.6)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 1.8) { $("#STATUE").text("Intact(x1.8)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 2) { $("#STATUE").text("4 months to adult(x2)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 3) { $("#").text("0-4 months(x3)"); $("#STATUE").removeClass("text-warning"); }
                    else if (data[0].fields.dog_statue == 3.50) { $("#STATUE").text("Active, working dogs(x3.5)"); $("#STATUE").removeClass("text-warning"); }
                    else { $("#STATUE").text("null"); $("#STATUE").removeClass("text-warning"); $("#STATUE").addClass("text-warning"); }
                } else {
                    $("#CATEGORY").text("null");
                    $("#STATUE").text("null");
                    $("#CATEGORY").addClass("text-warning");
                    $("#STATUE").addClass("text-warning");
                }

            },
            error: function () {
            }
        });
    }
    function delete_data_post() {
        data = { "Delete": "confrim" };
        if (confirm("Are You Sure?")) {
            $.ajax({
                type: "POST",
                url: "{% url 'del_data' %}",
                data: data,
                success: function (response) {
                    //console.log(response);
                    window.location.reload();
                },
                error: function () {
                    alert("failure");
                }
            });
        }
    }
    function list_Schedule() {
        $.ajax({
            url: "{%url 'list_Schedule'%} ",
            type: "GET",
            dataType: "json",
            success: function (data) {
                //console.log(data);
                $('#Schedule_table').html('');
                var total = 0;
                var temp = 0;
                if (data != "") {
                    //console.log(data);
                    $.each(data, function (i, item) {

                        //alert(item.fields.schedule_time);
                        data1 = search_foodName("pk", item.fields.food_Name);
                        //console.log(item.fields.food_Name);
                        data1 = $.parseJSON(data1);
                        //console.log(data1);
                        //console.log(data1[0].fields.kCal);
                        total += (item.fields.food_amount * data1[0].fields.kCal) / 100;
                        temp = (item.fields.food_amount * data1[0].fields.kCal) / 100;
                        //console.log(total);
                        $('<tr>').append(
                            $('<td>').append('<input type="checkbox" name="checkbax1[]" value=' + item.fields.schedule_time + '>'),
                            $('<td>').text(item.fields.schedule_time),
                            $('<td>').text(data1[0].fields.Name),
                            $('<td>').text(item.fields.food_amount),
                            $('<td>').text(temp)).appendTo("#Schedule_table");
                    })

                }
                $('#total_kcal').text("Total kCal:" + total);
                //console.log(total)
            },
            error: function () {
            }
        });
    }
    function list_foodType() {
        $.ajax({
            url: "{%url 'list_foodType'%} ",
            type: "GET",
            dataType: "json",
            success: function (data) {
                //console.log(data);
                $('#FoodType_table').html('');
                if (data != "") {
                    $.each(data, function (i, item) {
                        $('<tr>').append(
                            $('<td>').append('<input type="checkbox" name="checkbax2[]" value=' + item.fields.Name + '>'),
                            $('<td>').text(item.fields.Name),
                            $('<td>').text(item.fields.kCal),
                            $('<td>').text(item.fields.created_at)).appendTo('#FoodType_table');
                    })
                }
            },
            error: function () {
            }
        });
    }
    function select_FoodType(j) {
        //alert("active");
        $.ajax({
            url: "{%url 'list_foodType'%} ",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $('.select' + j).html('');
                //console.log(data);
                if (data != "") {
                    $(".select" + j).append($("<option></option>").attr("value", "").text(""));
                    $.each(data, function (i, item) {
                        $(".select" + j).append($("<option></option>").attr("value", item.fields.Name).text(item.fields.Name));
                    })
                }
            },
            error: function () {
            }
        });
    }
    function search_foodName(x, y) {
        data = { 'object': x, 'value': y };
        var temp
        //console.log(data);
        $.ajax({
            type: "POST",
            url: "{% url 'search_foodName' %}",
            data: data,
            async: false,
            success: function (response) {
                temp = response;
                //console.log(temp);
            },
            error: function () {
            }
        });
        //console.log(temp);
        return temp;
    }
    function alert1() {
        $.ajax({
            url: "{%url 'Tag_Info'%} ",
            type: "GET",
            dataType: "json",
            success: function (data) {
                $("#myAlert").alert('close');
                if (data[0].fields.weight == 0 || data[0].fields.category == 0) {
                    $("#alert").before('<div id="myAlert" class="alert alert-warning"><a href="#" class="close close_alert" data-dismiss="alert">&times;</a><strong>Warning！</strong>Please add more information!</div>');
                }
            },
            error: function () {
            }
        });
    }
    const fp1 = $("#Date1").flatpickr({
        enableTime: false,
        dateFormat: "Y-m-d",
        maxDate: "",
        minDate: "",
        enable: [true]
    });
    const fp2 = $("#Date2").flatpickr({
        enableTime: false,
        dateFormat: "Y-m-d",
        maxDate: "",
        minDate: "",
        enable: [true]
    });
    function Datesearch() {
        var mindate;
        var maxdate;
        $.ajax({
            url: "{% url 'pet_filter_earliest' %}",
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data != "") {
                    var mindate = new Date(data[0].fields.updated_at).toLocaleDateString('zh-TW', { timeZone: 'Asia/Taipei' });
                    //console.log(mindate)
                    fp1.set('enable', [false]);
                    fp2.set('enable', [false]);
                    fp1.set('minDate', mindate);
                    fp2.set('minDate', mindate);
                } else {
                    fp1.set('enable', [true]);
                    fp2.set('enable', [true]);
                }
            }
        });
        $.ajax({
            url: "{% url 'pet_filter_latest' %}",
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data != "") {
                    var maxdate = new Date(data[0].fields.updated_at).toLocaleDateString('zh-TW', { timeZone: 'Asia/Taipei' });
                    var current = new Date();
                    var past = new Date(data[0].fields.updated_at);
                    //console.log(past);
                    var df = (current - past) / 1000 / 60 / 60 / 24;
                    //console.log(df);
                    var df1 = 0;
                    if (df <= 0.00069) {
                        //second
                        df1 = df * 24 * 60 * 60;
                        $("#ago").text("Last update: " + Math.round(df1) + " seconds ago!");
                    }
                    if (df > 0.00069 && df <= 0.0416) {
                        //minute
                        df1 = df * 24 * 60;
                        $("#ago").text("Last update: " + Math.round(df1) + " minutes ago!");
                    }
                    if (df <= 1 && df > 0.0416) {
                        //hour
                        df1 = df * 24;
                        $("#ago").text("Last update: " + Math.round(df1) + " hours ago!");
                    }
                    if (df >= 1) {
                        //day
                        df1 = df;
                        $("#ago").text("Last update: " + Math.round(df1) + " days ago!");
                    }
                    //console.log(df1);
                    //console.log(maxdate)
                    fp1.set('enable', [false]);
                    fp2.set('enable', [false]);
                    fp1.set('maxDate', maxdate);
                    fp2.set('maxDate', maxdate);
                }
                else {
                    //console.log("blank")
                    fp1.set('enable', [true]);
                    fp2.set('enable', [true]);
                    //console.log("blank")
                }
            }
        });
    }
</script>
{% endblock %}