{% extends "app/base.html" %}

{% block content %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://cdn.jsdelivr.net/raphael/2.1.2/raphael-min.js"></script>
<script src="http://cdn.jsdelivr.net/justgage/1.0.1/justgage.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

<div class="row clearfix">
		<div class="col-md-2 column">
             <ul class="nav nav-pills nav-stacked">
                 {% for app in apps %}
                    <li {% if forloop.first %} class="active" {% endif %} loction_name="{{app.name}}">
<a data-toggle="tab" href="#{{app.name}}"  >{{app.name}}</a></li>
                 {% endfor %}
             </ul>
		</div>
		<div class="col-md-10 column">
			<div class="row clearfix">
				<div class="col-md-3 column">
                    <div id="gauge1"  style=" height:150px" ></div>
				</div>
				<div class="col-md-9 column">
                    <div id="container"  style="min-width: 700px; height: 300px; margin: 0 auto" ></div>
				</div>
			</div>
		</div>
</div>
<script>
 $(function () {
        var i;
    $("li").click(function () { //點擊事件
        loction_name = $(this).attr('loction_name'),  
        i = loction_name.localeCompare("undefined") //比較兩字串:相等=0
        if (i!=0){//取不相等時的值
            data = {'loction_name': loction_name }
            console.log(data);
        }
        $.ajax({
                    url:"{% url 'ajax_get' %}",
                    type:'GET',
                    data: data,
                    success:function(response){
                        console.log(response);
                        clearPlot()
                        requestData()
                        refresh()
                    },
                    error:function(){
                        console.log('something went wrong here');
                    },
                });
        
  });
});

var chart;
$(document).ready(function() {
    Highcharts.setOptions({ global: {useUTC: false}});
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'spline',
            events: {
                load: requestData
            }
        },
        credits: {
		    enabled: false // remove high chart logo hyper-link
		},
        title: {
            text: ""
        },
        xAxis: {
            title: {text:'datetime'},
            type: 'datetime',
            labels: {
                format: '{value:%m-%d %H:%M}',
            }
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            labels: {
            formatter: function () {
                return this.value + '°';
            }
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
    	exporting : { 
		    enabled : false 
		}, 
        legend: {
            layout: 'vertical',
            align: 'center',
            verticalAlign: 'top',

            borderWidth: 0
        },
        tooltip: {
            valueSuffix: '°C'
        },
        plotOptions: {
            series: {
                events: {
                     legendItemClick: function(e) {
                     return false; // 禁用點擊隱藏數據列
                }
         }
     }
} 

      
    });
});

function clearPlot() {
		    	//console.log("clear plot data!!!");
	            var series=chart.series;	            
	            while(series.length > 0) {
	                series[0].remove(false);
	            }
		    }

function requestData() {
    $.ajax({
        url: "{% url 'env_filter' %}",
        type: "GET",
        dataType: "json",
        success: function (data) {
        var len = Object.keys(data).length;
        var seriesData = [];
        var chartName = data[0].fields.name;
        for (var j = 0; j < len; j++) {
            var x = new Date(data[j].fields.updated_at).getTime();
            var y = data[j].fields.temperature;  
            x = parseFloat(x) 
            y = parseFloat(y)
            seriesData.push([x, y]);
            }
        chart.addSeries({
            name: chartName,
            data: seriesData,
            zones: [{
                value: 0,
                color: '#f7a35c',
                dashStyle: 'dot'
            }, {
                value: 10,
                color: '#7cb5ec'
            }, {
                color: '#90ed7d'
            }]
            });
        },
        cache: false
    });
}

  var g = new JustGage({
    id: "gauge1",
    value: 0,
    min: 0,
    max: 100,
    title: "即時溫度",
    label: "°C"
  });
$(document).ready(function(){
});

function refresh(){
     $.ajax({
         url: "{% url 'env_filter' %}",
         type: "GET",
         dataType: "json",
         success: function (data) {
            var len = Object.keys(data).length;
            var x = new Date(data[len-1].fields.updated_at).getTime();
            var y = data[len-1].fields.temperature;  
            console.log([y,x]);
         g.refresh(y);
         }
    });
}
    setTimeout(refresh,100) //第一次刷新數據
</script>
{% endblock %}
